@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 100px 100px;
}

.column {
    flex: 25%;
    max-width: 23%;
}

.image-1:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}